<div class="container" style="padding-bottom:30px;">
    <form [formGroup]="articleEditForm" (ngSubmit)="onSubmit(myForm.value)">
      <div class="form-group">
        <label>Article Title</label>
        <input class="form-control" type="text" formControlName='arttitle'>
      </div>
      <div class="form-group">
        <label>Article Summary</label>
        <input class="form-control" type="text" formControlName='summary'>
      </div>

      <!-- <div class="form-group">
          <label>Category</label>
          <input class="form-control" type="text" formControlName='summary'>
        </div> -->

        <div class="form-group">
          <label>Topic</label>
          <select class="form-control" type="text" formControlName='categories'>
              <option *ngFor="let ct of categories" [ngValue]="ct.catid2">
                  {{ct.cat2}}
              </option>
          </select>
        </div>
    </form>
  
  
      <ckeditor
      [(ngModel)]="ckeditorContent"
      [readonly]="false"
      debounce="500">
  </ckeditor>
  
  </div>
  
  
  
