<div class="col-xs-3 pull-right" style="margin-top:8px;">
  <div class="input-group">
    <input type="hidden" class="form-control" name="pagereq" value="article"/>
    <input type="hidden" class="form-control" name="view" value="search"/>
    <input type="text" class="form-control" style="background-color:rgba(255, 255, 255, 0.7);" name="keyword" size="50" id="searchBox" title="To access an individual article, add an @ in front of the article number. Ex. @999. To search for a specific phrase, surround them in quotes."/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button "><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
</div>
  


